streamlit
langchain
requests
beautifulsoup4
langchain_core
python-dotenv
langchain_community
langserve
fastapi
uvicorn
sse_starlette
beautifulsoup4
pypdf
chromadb
langchain_groq
faiss-cpu
groq
openai
langchain-google-genai

